<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nothingoneday.feature"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 授权手机能够访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.nothingoneday.feature.base.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nothingoneday.feature.base.HelpActivity" />

        <!-- ViewLogActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.activity.ViewLogActivity"
            android:label="@string/view_log_activity_log" />

        <!-- UI -->
        <activity
            android:name="com.nothingoneday.feature.base.activity.UIFeatureList"
            android:label="@string/ui_feature_list_title" />

        <!-- View -->
        <activity
            android:name="com.nothingoneday.feature.base.view.ViewFeatureList"
            android:label="@string/view_feature_list_titile" />

        <!-- ViewLifeActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.view.ViewLifeActivity"
            android:label="@string/view_life_activity_title" />

        <!-- CustomViewActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.view.CustomViewActivity"
            android:label="@string/custom_view_activity_title" />

        <!-- CombinationViewActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.view.CombinationViewActivity"
            android:label="@string/combination_view_activity_title" />

        <!-- HandleTouchEventActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.view.HandleTouchEventActivity"
            android:label="@string/handle_touch_event_activity_title" />

        <!-- TouchEventSetting -->
        <activity
            android:name="com.nothingoneday.feature.base.view.TouchEventSetting"
            android:label="@string/touch_event_setting_title" >
        </activity>

        <!-- ViewGroup -->
        <activity
            android:name="com.nothingoneday.feature.base.viewgroup.ViewGroupFeatureList"
            android:label="@string/view_group_feature_list_title" />

        <!-- Animation -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.AnimationFeatureList"
            android:label="@string/animation_feature_list_title" />
        <!-- Frame animaiton -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.FrameAnimation"
            android:label="@string/frame_animation_title" />
        <!-- Tween animation -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.TweenAnimation"
            android:label="@string/tween_animation_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.UnitTweenAnimation"
            android:label="@string/unit_tween_animation_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.UnitTweenEffectActivity"
            android:label="@string/unit_tween_effect_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.CombinationTweenAnimation"
            android:label="@string/combination_tween_animation_title" />

        <!-- Activity -->
        <activity
            android:name="com.nothingoneday.feature.base.activitys.ActivityFeatureList"
            android:label="@string/activity_feature_list_title" />
        <activity
            android:name="com.nothingoneday.feature.base.activitys.ActivityLife"
            android:label="@string/activity_life_title" />
        <activity
            android:name="com.nothingoneday.feature.base.activitys.menu.MenuFeatrueList"
            android:label="@string/menu_featrue_list_title" >
        </activity>
        <activity
            android:name="com.nothingoneday.feature.base.activitys.menu.OptionMenuActivity"
            android:label="@string/option_menu_activity_title" >
        </activity>
        <activity
            android:name="com.nothingoneday.feature.base.activitys.menu.ContextMenuActivity"
            android:label="@string/context_menu_activity_title" >
        </activity>
        <activity
            android:name="com.nothingoneday.feature.base.activitys.menu.ActionModeMenuActivity"
            android:label="@string/action_mode_menu_activity_title" >
        </activity>
        <activity
            android:name="com.nothingoneday.feature.base.activitys.menu.PopupMenuActivity"
            android:label="@string/pop_up_menu_activity_title" />

        <!-- action_bar_activity_title -->
        <activity
            android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarFeatrueList"
            android:label="@string/action_bar_activity_title" >
        </activity>

        <!-- ActionBarActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarActivity"
            android:label="@string/action_bar_title" >
        </activity>
        <!-- ActionBarBottomActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarBottomActivity"
            android:label="@string/action_bar_title"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <!-- ServiceFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.service.ServiceFeatureList"
            android:label="@string/service_feature_list_title" >
        </activity>

        <!-- StartupServiceActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.service.StartupServiceActivity"
            android:label="@string/startup_service_activity_title" >
        </activity>

        <service android:name="com.nothingoneday.feature.base.service.ServiceForStartup" >
            <intent-filter>
                <action android:name="com.nothingoneday.feature.ServiceForStartup" />
            </intent-filter>
        </service>

        <!-- RemoteServiceActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.service.RemoteServiceActivity"
            android:label="@string/remote_service_activity_title" >
        </activity>

        <service
            android:name="com.nothingoneday.feature.base.service.RemoteCountService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.nothingoneday.feature_RemoteCountService" />
            </intent-filter>
        </service>

        <!-- BI -->
        <activity android:name="com.nothingoneday.feature.base.activity.BIFeatureList" />

        <!-- Utils -->
        <activity android:name="com.nothingoneday.feature.base.activity.AndroidCommomTools" />
        <!-- XmlUtils -->
        <activity android:name="com.nothingoneday.feature.base.activity.utils.XmlUtils" />

        <!-- OptimizationFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.OptimizationFeatureList"
            android:label="@string/optimization_feature_list_title" />

        <!-- TraceViewList -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewList"
            android:label="@string/trace_view_list_title" />

        <!-- TraceViewBeforeOptimaiztion -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewBeforeOptimization"
            android:label="@string/trace_view_before_optimization_title" />

        <!-- TraceViewAfterOptimaiztion -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewAfterOptimization"
            android:label="@string/trace_view_after_optimization_title" />

        <!-- APIFeatureLis -->
        <activity
            android:name="com.nothingoneday.feature.base.api.APIFeatureLis"
            android:label="@string/api_feature_list_title" >
        </activity>

        <!-- Positioning -->
        <activity
            android:name="com.nothingoneday.feature.base.api.Positioning"
            android:label="@string/positioning_title" >
        </activity>

        <!-- AsynchronousFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.api.AsynchronousFeatureList"
            android:label="@string/asynchronous_feature_list_title" >
        </activity>

        <!-- AsyncTaskActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.api.sync.AsyncTaskActivity"
            android:label="@string/async_task_activity" >
        </activity>

        <!-- AsyncQueryHandlerActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.api.sync.AsyncQueryHandlerActivity"
            android:label="@string/async_query_handler_activity_title" >
        </activity>

        <!-- IntentServiceActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.api.sync.IntentServiceActivity"
            android:label="@string/intent_service_activity_title" >
        </activity>

        <service android:name="com.nothingoneday.feature.base.api.sync.AsyncIntentService" >
            <intent-filter>
                <action android:name="com.nothingoneday.feature.AsyncIntentService" />
            </intent-filter>
        </service> <!-- GraphicsFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.api.GraphicsFeatureList"
            android:label="@string/graphics_feature_list_tilte" >
        </activity>

        <!-- ImageConversion -->
        <activity
            android:name="com.nothingoneday.feature.base.api.ImageConversion"
            android:label="@string/image_conversion_title" >
        </activity>

        <!-- CanvasList -->
        <activity
            android:name="com.nothingoneday.feature.base.api.CanvasList"
            android:label="@string/canvas_list_tilte" />

        <!-- AlgorithmsFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.algorithms.AlgorithmsFeatureList"
            android:label="@string/algorithms_feature_list_title" >
        </activity>

        <!-- SortFeatureActivity -->
        <activity
            android:name="com.nothingoneday.feature.base.algorithms.SortFeatureActivity"
            android:label="@string/sort_feature_activity_title" >
        </activity>
        
        <!-- SortActivity -->
        <activity android:label="@string/sort_activity_title" android:name="com.nothingoneday.feature.base.algorithms.SortActivity"></activity>
    </application>

</manifest>