<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nothingoneday.feature"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    
    <!-- 授权手机能够访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.nothingoneday.feature.base.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nothingoneday.feature.base.HelpActivity" />
        
        <!-- ViewLogActivity -->
        <activity android:name="com.nothingoneday.feature.base.activity.ViewLogActivity"
            android:label="@string/view_log_activity_log"/>

        <!-- UI -->
        <activity
            android:name="com.nothingoneday.feature.base.activity.UIFeatureList"
            android:label="@string/ui_feature_list_title" />

        <!-- View -->
        <activity
            android:name="com.nothingoneday.feature.base.view.ViewFeatureList"
            android:label="@string/view_feature_list_titile" />
        
        <!-- ViewLifeActivity -->
		<activity android:label="@string/view_life_activity_title" android:name="com.nothingoneday.feature.base.view.ViewLifeActivity"/>  
		      
        <!-- CustomViewActivity -->
        <activity android:label="@string/custom_view_activity_title" android:name="com.nothingoneday.feature.base.view.CustomViewActivity"/>

        <!-- CombinationViewActivity -->
        <activity android:label="@string/combination_view_activity_title" android:name="com.nothingoneday.feature.base.view.CombinationViewActivity"/>
        
        <!-- HandleTouchEventActivity -->
        <activity android:label="@string/handle_touch_event_activity_title" android:name="com.nothingoneday.feature.base.view.HandleTouchEventActivity"/>
        
        <!-- TouchEventSetting -->
        <activity android:label="@string/touch_event_setting_title" android:name="com.nothingoneday.feature.base.view.TouchEventSetting"></activity>
        
        <!-- ViewGroup -->
        <activity
            android:name="com.nothingoneday.feature.base.viewgroup.ViewGroupFeatureList"
            android:label="@string/view_group_feature_list_title" />

        <!-- Animation -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.AnimationFeatureList"
            android:label="@string/animation_feature_list_title" />
        <!-- Frame animaiton -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.FrameAnimation"
            android:label="@string/frame_animation_title" />
        <!-- Tween animation -->
        <activity
            android:name="com.nothingoneday.feature.base.animation.TweenAnimation"
            android:label="@string/tween_animation_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.UnitTweenAnimation"
            android:label="@string/unit_tween_animation_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.UnitTweenEffectActivity"
            android:label="@string/unit_tween_effect_title" />
        <activity
            android:name="com.nothingoneday.feature.base.animation.CombinationTweenAnimation"
            android:label="@string/combination_tween_animation_title" />

        <!-- Activity -->
        <activity
            android:name="com.nothingoneday.feature.base.activitys.ActivityFeatureList"
            android:label="@string/activity_feature_list_title" />
        <activity
            android:name="com.nothingoneday.feature.base.activitys.ActivityLife"
            android:label="@string/activity_life_title" />
        <activity android:label="@string/menu_featrue_list_title" android:name="com.nothingoneday.feature.base.activitys.menu.MenuFeatrueList"></activity>
        <activity android:label="@string/option_menu_activity_title" android:name="com.nothingoneday.feature.base.activitys.menu.OptionMenuActivity"></activity>
        <activity android:label="@string/context_menu_activity_title" android:name="com.nothingoneday.feature.base.activitys.menu.ContextMenuActivity"></activity>
        <activity android:label="@string/action_mode_menu_activity_title" android:name="com.nothingoneday.feature.base.activitys.menu.ActionModeMenuActivity"></activity>
		<activity android:label="@string/pop_up_menu_activity_title"  android:name="com.nothingoneday.feature.base.activitys.menu.PopupMenuActivity"/>
        
		<!-- action_bar_activity_title -->
		<activity android:label="@string/action_bar_activity_title" android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarFeatrueList"></activity>
		
		<!-- ActionBarActivity -->
		<activity android:label="@string/action_bar_title" android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarActivity"></activity>
        <!-- ActionBarBottomActivity -->
        <activity android:label="@string/action_bar_title" android:name="com.nothingoneday.feature.base.activitys.actionbar.ActionBarBottomActivity"  android:uiOptions="splitActionBarWhenNarrow" ></activity>
        
        <!-- ServiceFeatureList -->
        <activity android:label="@string/service_feature_list_title" android:name="com.nothingoneday.feature.base.service.ServiceFeatureList"></activity>
        
        <!-- StartupServiceActivity -->
        <activity android:label="@string/startup_service_activity_title" android:name="com.nothingoneday.feature.base.service.StartupServiceActivity"></activity>
	    <service android:name="com.nothingoneday.feature.base.service.ServiceForStartup">
	        <intent-filter >
	            <action android:name="com.nothingoneday.feature.ServiceForStartup"/>
	        </intent-filter>
	    </service>
	    
	    <!-- RemoteServiceActivity -->
	    <activity android:label="@string/remote_service_activity_title" android:name="com.nothingoneday.feature.base.service.RemoteServiceActivity"></activity>
	    <service android:name="com.nothingoneday.feature.base.service.RemoteCountService" android:process=":remote">
	        <intent-filter >
	            <action android:name="com.nothingoneday.feature_RemoteCountService"/>
	        </intent-filter>
	    </service>
        
        <!-- BI -->
        <activity android:name="com.nothingoneday.feature.base.activity.BIFeatureList" />

        <!-- Utils -->
        <activity android:name="com.nothingoneday.feature.base.activity.AndroidCommomTools" />
        <!-- XmlUtils -->
        <activity android:name="com.nothingoneday.feature.base.activity.utils.XmlUtils" />

        <!-- OptimizationFeatureList -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.OptimizationFeatureList"
            android:label="@string/optimization_feature_list_title" />

        <!-- TraceViewList -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewList"
            android:label="@string/trace_view_list_title" />

        <!-- TraceViewBeforeOptimaiztion -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewBeforeOptimization"
            android:label="@string/trace_view_before_optimization_title" />

        <!-- TraceViewAfterOptimaiztion -->
        <activity
            android:name="com.nothingoneday.feature.base.optimization.TraceViewAfterOptimization"
            android:label="@string/trace_view_after_optimization_title" />

        <!-- APIFeatureLis -->
        <activity
            android:name="com.nothingoneday.feature.base.api.APIFeatureLis"
            android:label="@string/api_feature_list_title" >
        </activity>

        <!-- Positioning -->
        <activity
            android:name="com.nothingoneday.feature.base.api.Positioning"
            android:label="@string/positioning_title" >
        </activity>
        
        <!-- AsynchronousFeatureList -->
        <activity android:label="@string/asynchronous_feature_list_title" android:name="com.nothingoneday.feature.base.api.AsynchronousFeatureList"></activity>
        
        <!-- AsyncTaskActivity -->
        <activity android:label="@string/async_task_activity" android:name="com.nothingoneday.feature.base.api.sync.AsyncTaskActivity"></activity>
        
        <!-- AsyncQueryHandlerActivity -->
        <activity android:label="@string/async_query_handler_activity_title" android:name="com.nothingoneday.feature.base.api.sync.AsyncQueryHandlerActivity"></activity>
        
        <!-- IntentServiceActivity -->
        <activity android:label="@string/intent_service_activity_title" android:name="com.nothingoneday.feature.base.api.sync.IntentServiceActivity"></activity>
        
        <service android:name="com.nothingoneday.feature.base.api.sync.AsyncIntentService">
            <intent-filter >
                <action android:name="com.nothingoneday.feature.AsyncIntentService"/>
            </intent-filter>
        </service>
        
        <!-- GraphicsFeatureList -->
        <activity android:label="@string/graphics_feature_list_tilte" android:name="com.nothingoneday.feature.base.api.GraphicsFeatureList"></activity>
    
    	<!-- ImageConversion -->
    	<activity android:label="@string/image_conversion_title" android:name="com.nothingoneday.feature.base.api.ImageConversion"></activity>
    	
    	<!-- CanvasList -->
    	<activity android:label="@string/canvas_list_tilte" android:name="com.nothingoneday.feature.base.api.CanvasList"/>
    	
    	<!-- AlgorithmsFeatureList -->
    	<activity android:label="@string/algorithms_feature_list_title" android:name="com.nothingoneday.feature.base.algorithms.AlgorithmsFeatureList"></activity>
    	
    </application>

</manifest>